.smallCardcontainer{
    height: 230px;
    max-width: auto;
    width: 300px;
    margin: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
    border: solid 2px; 
    flex-wrap: wrap;
    p{
        margin: 0px;
        line-height: 1;
    }
}

.item-image{
    height : 70%;
    width: 100%;
    border-radius: 4px;
    margin: 0px;
}

.name-price-section{
    height: 30%;
    width: 100%;
    /* border: solid 2px;; */
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.name-price-container{
    color: black;
    font-family: Roboto;
    p{
      margin: 2px;
    }
    
}

.plus-minus-container{
    display: flex;
    
}

.plus-minus-btn{
    background-color: #ef8c71;
    border: solid 2px;
    border-radius: 5px;
    margin: 2px;
    cursor: pointer;
}

@media (max-width: 768px) {
  .smallCardcontainer {
    width: 22%;  /* full width on mobile */
    height: 180px;
    margin: 6px  !important;
  }

  .item-image {
    height: 65%;
  }

  .name-price-section {
    font-size: 12px;
  }

  .plus-minus-btn {
    font-size: 10px;
    padding: 2px 5px;
  }
}

@media (max-width: 480px) {
  .smallCardcontainer {
    width: 29%;
    height: 200px;
    margin: 4px 0;
    padding: 0px;
    
  }
  
  .name-price-section{
    height: 30%;
    width: 100%;
    /* border: solid 2px;; */
    /* display: flex;
    justify-content: space-between; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
}
.name-price-container{
  color:black;
}                
   /* .right-part{
    width: 25%;
    border: solid 2px;
    border-color: black ;
  }  */

  .name-price-section {
    font-size: 8px;
    padding: 2px 6px;
  }

  .plus-minus-btn {
    font-size: 6px;
    padding: 1px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid black;
    border-width: 1px;
    
  }
  .qty{
    font-weight: bold;
  }
}